##Tarea 1
###Santiago Higuita Usuga
###DNI 1017251535
###sshiguitau@uc.cl

#Tarea 1 -- formulario de respuestas

En este notebook pueden ingresar sus respuestas a las preguntas de tarea 1, y asegurarse que sus comandos SQL funcionan de manera adecuada.

### Iniciar el servidor

Cómo siempre, para poder ocupar el notebook, lo deben subir a https://colab.research.google.com

Luego, ejecutando el siguiente campo, se crea una instancia de servidor postgres, dónde pueden realizar sus consultas.

In [1]:
# install
!apt update
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres

Ign:1 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease [1,581 B]
Hit:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:4 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:6 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [910 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:15 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,095 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,937 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,369 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,533 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,073 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,311 kB]
Fetched 14.5 MB in 4s (3,694 kB/s)
Reading package lists... Done
Building dependency tree
Reading state information... Done
25 packages can be upgraded. Run 'apt list --upgradable' to see them.
 * Starting PostgreSQL 10 database server
   ...done.
CREATE ROLE

'Connected: @postgres'

##Pregunta 1

La primera tarea que debes realizar es escribir un esquema relacional para nuestro caso de uso, especificando los nombres de las tablas, los tipos de atributos, y nombrar las llaves primarias en cada tabla.
Adicionalmente, debes explicar cómo lograste guardar la información que una persona participa en un taller, y que un taller se realiza en un lugar específico.

Cómo un ejemplo de cómo se debe ver tu solución, basta con escribir algo cómo:

`País(id INT, nombre VARCHAR(50), población INT)`

*Llave para la relación País:* id

En caso de esquema para un país.

Este esquema no necesita ser en SQL.

La respuesta la pueden ingresar en el campo abajo:

## Respuesta 1:

... (hacer doble click para empezar escribir) ...
###Esquema 1:
Estudiantes(<ins>erut</ins> VARCHAR(50), enombre VARCHAR(50), ecorreo VARCHAR(50), etelefono VARCHAR(30), <ins>tid</ins> INT); PRIMARY KEY(erut, tid)

*La idea es que un estudiante no esté inscrito dos o más veces en el mismo curso.*

###Esquema 2:
Taller(<ins>tid</ins> INT, tnombre VARCHAR(50), tfecha DATE, thora TIME, tvalor FLOAT, tduracion TIME, iDNI INT); PRIMARY KEY(tid, tfecha, thora, iDNI)

*Si bien se podría asignar tid como primary key, se eligió el taller, la fecha y hora del curso y el instructor, con el fin de que un mismo instructor no esté programado para dictar dos cursos al mismo tiempo.*

###Esquema 3:
Instructor(<ins>iDNI</ins> INT, inombre VARCHAR(50), icorreo VARCHAR(50), itelefono VARCHAR(50), <ins>tid</ins> INT); PRIMARY KEY(iDNI, tid)

*La idea es que un instructor no esté asociado dos o más veces al mismo curso.*

##Pregunta 2

Con tu esquema en mano, debes escribir los comandos SQL para crear las tablas en tu esquema. Esto requiere tener cinco o más comandos de tipo “CREATE TABLE…” que deben poder ejecutarse correctamente en SQL. Quiere decir, si nosotros ejecutamos estos comandos, el motor de SQL no nos dará un error. Para esto, te recomendamos correr tus comandos directamente en el siguiente campo de Notebook en Google Colab:

In [20]:
%%sql
DROP TABLE IF EXISTS Estudiantes;
DROP TABLE IF EXISTS Taller;
DROP TABLE IF EXISTS Instructor;

CREATE TABLE IF NOT EXISTS Estudiantes(
  erut VARCHAR(50)
  ,enombre VARCHAR(50)
  ,ecorreo VARCHAR(50)
  ,etelefono VARCHAR(30)
  ,tid INT
  ,PRIMARY KEY (erut, tid)

);

CREATE TABLE IF NOT EXISTS Taller(
  tid INT
  ,tnombre VARCHAR(30)
  ,tfecha DATE
  ,thora TIME
  ,tvalor FLOAT
  ,tduracion TIME  
  ,iDNI INT
  ,PRIMARY KEY (tid, tfecha, thora, iDNI)
);

CREATE TABLE IF NOT EXISTS Instructor(
  iDNI INT
  ,inombre VARCHAR(50)
  ,icorreo VARCHAR(50)
  ,itelefono VARCHAR(50) DEFAULT 0
  ,tid INT
  ,PRIMARY KEY (iDNI, tid)
)

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

##Pregunta 3

Con tus tablas creadas, ahora las vamos a llenar de datos. Te pedimos insertar la siguiente información, descrita de manera informal, a tu base de datos:

Personas:
-	John Russo, rut: 883.111.6793-1, correo: john.russo@uc.cl, tel: 748-29-1038
-	Matthew Howard, rut: 323.654.56-1, correo:matthew.howard@uc.cl, tel: 004-11-7328
-	Susan Griffith, rut: 389.197.781-5, correo:susan.griffith@email.com, tel: 342-03-4478

Todas estas personas participan en el taller con datos: 
- nombre: Taller de cocina, instructor: Gibson, fecha: 2021-12-28, hora: 12:00, valor: 9, duración: 1.5.

También, disponemos de información que John Russo participa en el taller con datos: 
- nombre: Taller 11, instructor: Jonathan Duffy, fecha: 2022-12-11, hora: 13:00, valor: 7, duración: 1.0.

Crea los comandos “INSERT INTO…” que inserta esta información a tus tablas. Estos comandos deben correr correctamente en SQL en el siguiente campo:

In [21]:
%%sql

INSERT INTO Instructor VALUES (1, 'Gibson', 'gibson_provisional@uc.cl', 0, 1);
INSERT INTO Instructor VALUES (2, 'Jonathan Duffy', 'jduffy@uc.cl', 0, 2);

INSERT INTO Taller VALUES (1, 'Taller de Cocina', '2021-12-28', '12:00', 9, '1:30', 1);
INSERT INTO Taller VALUES (2, 'Taller 11', '2021-12-11', '13:00', 7, '1:00', 2);

INSERT INTO Estudiantes VALUES ('8831116793-1', 'John Russo', 'john.russo@uc.cl', '748-29-1038', 1);
INSERT INTO Estudiantes VALUES ('8831116793-1', 'John Russo', 'john.russo@uc.cl', '748-29-1038', 2);
INSERT INTO Estudiantes VALUES ('32365456-1', 'Matthew Howard', 'matthew.howard@uc.cl', '004-11-7328', 1);
INSERT INTO Estudiantes VALUES ('389197781-5', 'Susan Griffith', 'susan.griffith@email.com', '342-03-4478', 1);

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

##Pregunta 4

Escriba en SQL la consulta que sobre tu base de datos devuelve nombre de todos los talleres. Esta consulta se debe ejecutar correctamente sobre tu esquema, y los datos ingresados en la Pregunta 3, pero también en otras instancias de tu esquema relacional.

La consulta la puedes ingresar al siguiente campo:

In [24]:
%%sql
SELECT tnombre FROM Taller;

 * postgresql+psycopg2://@/postgres

            tnombre
0  Taller de Cocina
1         Taller 11

In [ ]:
%%shell
jupyter nbconvert --to html /content/T1Formulario_Santiago_Higuita.ipynb